alembic
attrs
autopage
blas
blas-devel
bottleneck
brotli
bzip2
ca-certificates
certifi
cliff
cmaes
cmd2
colorlog
cycler
fonttools
freetype
giflib
greenlet
importlib-metadata
importlib_resources
joblib>
jpeg
kiwisolver
lcms2
libblas
libcblas
libcxx
libffi
libgfortran
libgfortran5
liblapack
liblapacke
libopenblas
libpng
libtiff
libwebp
libwebp-base
libzlib
llvm-openmp
lz4-c
mako>
markupsafe
matplotlib
matplotlib-base
munkres
ncurses
numexpr
numpy
numpy-base
openblas
openssl
optuna
packaging
pandas
pbr
pillow
pip
prettytable
pyparsing
pyperclip
python
python-dateutil
python_abi
pytz
pyyaml
readline
scikit-learn
scipy
setuptools
six
sqlalchemy
sqlite
stevedore
threadpoolctl
tk
tornado
tqdm
tzdata
wcwidth
wheel
xz
yaml
zipp
zlib
zstd
